{% extends 'main/base.html' %}
{% block content %}
{% load static %}
	<link rel="icon" href="{% static 'img/Fevicon.png' %}" type="image/png">
  <link rel="stylesheet" href="{% static 'vendors/bootstrap/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/fontawesome/css/all.min.css' %}">
	<link rel="stylesheet" href="{% static 'vendors/themify-icons/themify-icons.css' %}">
	<link rel="stylesheet" href="{% static 'vendors/linericon/style.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/owl-carousel/owl.theme.default.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/owl-carousel/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/nice-select/nice-select.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/nouislider/nouislider.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">


	<!-- ================ start banner area ================= -->	
	<section class="blog-banner-area" id="category">
		<div class="container h-100">
			<div class="blog-banner">
				<div class="text-center">
					<h1>Shop Category</h1>
					<nav aria-label="breadcrumb" class="banner-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Shop Category</li>
            </ol>
          </nav>
				</div>
			</div>
    </div>
	</section>
	<!-- ================ end banner area ================= -->


	<!-- ================ category section start ================= -->		  
  <section class="section-margin--small mb-5">
    <div class="container">
      <div class="row">
        <div class="mx-auto col-xl-9 col-lg-8 col-md-7">
			<form  method = "post" enctype ="multipart/form-data">
				{% csrf_token %}
				<table class="mx-auto table">
					<tr>
					<td><h4>Title</h4></td>
					<td>{{form.title}}</td>
					</tr>
					<tr>
					<td><h4>Category</h4></td>
					<td>{{form.category}}</td>
					</tr>
					<tr>
					<td><h4>Deposit</h4></td>
					<td>{{form.deposit}}</td>
					</tr>
					<tr>
						<td> <h4>Picture</h4> </td>
						<td> {{form.pic}} </td>
					</tr>
					<tr>
					<td><h4>Body</h4></td>
					<td>{{form.body}}</td>
					</tr>
				</table>
				<div class="col text-center">
					<button type = "submit" class="btn btn-outline-secondary mx-auto">등록</button>
					<button class="btn btn-outline-secondary">
						<a href = "{% url 'category' %}">취소</a>
					</button>
				</div>
			</form>


          <!-- Start Best Seller -->
          
          <!-- End Best Seller -->
        </div>
      </div>
    </div>
  </section>
	
{% endblock %}