{% extends 'main/base.html' %}
{% block content %}
<section class="blog-banner-area" id="contact" style="margin-bottom:-1%">
  <div class="container h-100">
    <div class="blog-banner">
      <div class="text-center">
        <h1>빌리고 싶은 물건이 있으신가요?</h1>
      </div>
      <form action="/borrow/map/" method="post">
        <div>
          <input type="text" name="stuff" placeholder="찾고 싶은 물건이름을 입력해주세요."
            style="width:50%; height:50px; margin-top:3%; margin-left:25%; padding-left:10px; border: 2px solid #d2d2d2">
        </div>
        <div>
          <button type="submit"
            style="width:3%; height:35px; margin-top:1%; margin-left:48%; border:1px solid black; background-color:transparent; color:black">go</button>
        </div>
        {% csrf_token %}
      </form>
    </div>
  </div>
</section>

<section class="section-margin--small">
  <div class="container">
    <div class="d-none d-sm-block mb-5 pb-4">
      <div id="map" style="height: 420px;"></div>
      <script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=56cf2129d5728bdc9a601f3775753eb6&libraries=services"></script>
      
        <script>
        navigator.geolocation.getCurrentPosition(success, fail)     // 웹브라우저가 geolocation을 지원하는 경우

        function success(location) {

          var mapContainer = document.getElementById('map'),
            mapOption = {
              center: new kakao.maps.LatLng(33.450701, 126.570667),
              level: 3                                                    // 나중에 지도 단계를 7로 변경
            }

          var map = new kakao.maps.Map(mapContainer, mapOption)

          var geocoder = new kakao.maps.services.Geocoder()


          var addresses = []
          var postIds = []
          var usernames = []

          {% for member in members %}
          addresses.push("{{ member.addr }}")
          usernames.push("{{ member.username }}")
          {% endfor %}

          {% for post in posts %}
          postIds.push("{{ post.l_posting_index }}")
          {% endfor %}

          var conversion = new Map()
          for (var i = 0; i < addresses.length; i++) {
            conversion.set(addresses[i], [usernames[i], postIds[i]])
          }


          for (var i = 0; i < addresses.length; i++) {
            geocoder.addressSearch(addresses[i], callback = (result, status) => {

              if (status === kakao.maps.services.Status.OK) {
                var coords = new kakao.maps.LatLng(result[0].y, result[0].x);     // 지번 주소명인 경우 예외처리 필요

                var marker = new kakao.maps.Marker({
                  map: map,
                  position: coords,
                  clickable: true
                })

                var address = result[0]['address_name']
                var infowindow = new kakao.maps.InfoWindow({
                  content: conversion.get(address)[0]
                });

                var postId = conversion.get(address)[1]
                kakao.maps.event.addListener(marker, 'click', clickListener(postId))
                kakao.maps.event.addListener(marker, 'mouseover', mouseoverListener(map, marker, infowindow))
                kakao.maps.event.addListener(marker, 'mouseout', mouseoutListener(infowindow))
              }
            })
          }


          clickListener = (postId) => {
            return () => {
              window.location.href = "http://127.0.0.1:8000/postapp/post/" + postId
            }
          }

          mouseoverListener = (map, marker, infowindow) => {
            return () => {
              infowindow.open(map, marker)
            }
          }

          mouseoutListener = (infowindow) => {
            return () => {
              infowindow.close()
            }
          }


          var nowLatitue = location.coords.latitude
          var nowLongitude = location.coords.longitude
          map.setCenter(new kakao.maps.LatLng(nowLatitue, nowLongitude))    // 웹브라우저마다 좌표가 조금 다름
        }

        function fail(error) { console.log(error) }
      </script>
    </div>
  </div>
</section>
{% endblock %}
